        .container {
            margin-top: 50px;
        }
        
        .card-container {
            height: 300px;
            width: 100%;
            border: 1px solid #000000;
            background-color: #000000;
            border-radius: 5px;
        }
        
        .spacing-container {
            padding: 5px;
        }
        
        .search-title {
            width: 77px;
            height: 31px;
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 31px;
            color: #000000;
        }